@use 'mixins' as m;


.header {
  height: 100vh;
  
  &_hero {
    height: 100%;
    background-image: url('../assets/heros-portfolio/pexels-uzunov-rostislav-4829745.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
}



.header_content_nav {
  width: 100%;
  max-width: 1800px;
  padding: 1.5rem .8rem;
  color: var(--titlesColor);
  background-color: var(--bg);
  @include m.flexRow(space-between, center);
  position: fixed;
  z-index: 10;

  p {
    font-weight: var(--extraBold);
    font-size: 3rem;
  }

  ul {
    color: var(--secundaryTextColor);
    display: flex;

    li {
      margin-right: 2rem;
      a:hover {
        color: var(--titlesColor);
      }
    }
  }
}

.header_content_info {
  height: 100%;
  text-align: start;
  @include m.flexRow(start, center);
  
  section {
    padding: 4rem;
    background-color: var(--bg);
    opacity: .9;
    h1 {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
    a {
      padding: 1rem 2rem;
      font-size: 2rem;
      color: var(--bg);
      background-color: var(--titlesColor);
    }
    a:hover {
      color: var(--titlesColor);
      background-color: var(--bg);
    }
  }
}

@media screen  and (min-width: 530px) {
  .header_content_nav {
    p {
      margin-left: 6rem;
    }
    ul {
      margin-right: 6rem;
    }
  }

  .header_content_info {
    section {
      margin-left: 3rem;
      margin-right: 3rem;
      h1 {
        font-size: 5rem;
      }
    }
  }
}