@use 'header';
@use 'main';
@use 'footer';

:root {
  --fontPrimmary: 'Roboto', sans-serif;
  --textColor: #ffffff;
  --secundaryTextColor: #9ea6bc;
  --titlesColor: #06fc71;
  --bg: #1a1818;
  --extraBold: 900;
  --standardWeight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--textColor);
  font-size: 62.5%;
  font-family: var(--fontPrimmary);
  font-weight: var(--standardWeight);
  background-color: var(--secundaryTextColor);
  scroll-behavior: smooth;
}

body {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: var(--secundaryTextColor);
  text-decoration: none;
}


@media screen  and (min-width: 1790px) {
  body {
    font-size: 1.8rem;
  }
}