.header {
  height: 100vh;
}
.header_hero {
  height: 100%;
  background-image: url("../assets/heros-portfolio/pexels-uzunov-rostislav-4829745.webp");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.header_content_nav {
  width: 100%;
  max-width: 1800px;
  padding: 1.5rem 0.8rem;
  color: var(--titlesColor);
  background-color: var(--bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
}
.header_content_nav p {
  font-weight: var(--extraBold);
  font-size: 3rem;
}
.header_content_nav ul {
  color: var(--secundaryTextColor);
  display: flex;
}
.header_content_nav ul li {
  margin-right: 2rem;
}
.header_content_nav ul li a:hover {
  color: var(--titlesColor);
}

.header_content_info {
  height: 100%;
  text-align: start;
  display: flex;
  justify-content: start;
  align-items: center;
}
.header_content_info section {
  padding: 4rem;
  background-color: var(--bg);
  opacity: 0.9;
}
.header_content_info section h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}
.header_content_info section a {
  padding: 1rem 2rem;
  font-size: 2rem;
  color: var(--bg);
  background-color: var(--titlesColor);
}
.header_content_info section a:hover {
  color: var(--titlesColor);
  background-color: var(--bg);
}

@media screen and (min-width: 530px) {
  .header_content_nav p {
    margin-left: 6rem;
  }
  .header_content_nav ul {
    margin-right: 6rem;
  }
  .header_content_info section {
    margin-left: 3rem;
    margin-right: 3rem;
  }
  .header_content_info section h1 {
    font-size: 5rem;
  }
}
@media screen and (min-width: 640px) {
  .header_hero {
    background-image: url("../assets/heros-portfolio/1-pexels-uzunov-rostislav.webp");
  }
}
@media screen and (min-width: 1280px) {
  .header_hero {
    background-image: url("../assets/heros-portfolio/2-pexels-uzunov-rostislav.webp");
  }
}
@media screen and (min-width: 1920px) {
  .header_hero {
    background-image: url("../assets/heros-portfolio//3-pexels-uzunov-rostislav.webp");
  }
}
.main {
  padding: 3rem 2rem;
  background-color: var(--bg);
}
.main h2 {
  text-align: center;
}
.main .subtitles {
  padding-top: 6rem;
}
.main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.main article {
  margin: 20px;
  text-align: center;
}
.main article p {
  margin-top: 5px;
}
.main .nextjs img {
  height: 80px;
}

.projects_article {
  padding-bottom: 20px;
  border: 2px solid white;
}
.projects_article img {
  width: 290px;
}
.projects_article_text {
  width: 290px;
  height: 9rem;
  padding: 10px;
  text-align: start;
}
.projects_article_text a {
  color: var(--titlesColor);
  text-decoration: underline;
}
.projects_article_text a:hover {
  color: var(--textColor);
}
.projects_article .links {
  margin-top: 10px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--titlesColor);
  background-color: var(--bg);
}
.projects_article .links:hover {
  color: var(--bg);
  background-color: var(--titlesColor);
}

@media screen and (min-width: 1790px) {
  .projects_article_text {
    height: 12rem;
  }
}
.footer {
  padding: 4rem 3rem;
  color: var(--bg);
  background-color: var(--textColor);
}
.footer h2 {
  margin-bottom: 2rem;
  text-align: center;
  font-size: 3rem;
}
.footer_mailto {
  color: var(--bg);
  font-size: 2rem;
  text-decoration: underline;
  cursor: pointer;
}
.footer_mailto:hover {
  color: var(--titlesColor);
}
.footer_social {
  margin-top: 1rem;
}
.footer_social a {
  margin-right: 1rem;
}
.footer_social a img {
  width: 60px;
}
.footer_formulario {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.footer_formulario h3 {
  margin-bottom: 1rem;
}
.footer_formulario form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}
.footer_formulario form textarea {
  min-width: 280px;
  width: 70%;
  min-height: 160px;
  padding: 1rem;
  border: 3px solid var(--bg);
  resize: vertical;
}
.footer_formulario form button {
  margin-top: 1rem;
  padding: 1rem 3rem;
  color: var(--titlesColor);
  font-weight: var(--extraBold);
  background-color: var(--bg);
  cursor: pointer;
}
.footer_formulario form button:hover {
  color: var(--bg);
  background-color: var(--titlesColor);
}

:root {
  --fontPrimmary: "Roboto", sans-serif;
  --textColor: #ffffff;
  --secundaryTextColor: #9ea6bc;
  --titlesColor: #06fc71;
  --bg: #1a1818;
  --extraBold: 900;
  --standardWeight: 500;
}

* {
  box-sizing: border-box;
  margin: 0;
}

html {
  color: var(--textColor);
  font-size: 62.5%;
  font-family: var(--fontPrimmary);
  font-weight: var(--standardWeight);
  background-color: var(--secundaryTextColor);
  scroll-behavior: smooth;
}

body {
  max-width: 1800px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.5rem;
}

ul {
  padding: 0;
  list-style: none;
}

a {
  color: var(--secundaryTextColor);
  text-decoration: none;
}

@media screen and (min-width: 1790px) {
  body {
    font-size: 1.8rem;
  }
}

/*# sourceMappingURL=main.css.map */
